.requireColor {
    color: #960909;
    margin-left: 2px;
}

.blackSpan {
    color: black;
}

.mainTitle {
    text-align: center;
    color: #243949;
    font-size: 32px;
}
.pointer {
    cursor: pointer;
}
.drivingSeats {
    color: #960909;
}