.requireColor {
    color: #960909;
    margin-left: 2px;
}

.blackSpan {
    color: black;
}

.blueSpan {
    color: #085895;
}

.darkBlueSpan {
    color: #243949;
}

.divider {
    border: 1px solid rgba(8, 88, 149, 0.2);
}

.signInTextStyle {
    font-size: 16px;
    color: #085895;
}

.mainTitle {
    text-align: center;
    color: #243949;
    font-size: 32px;
}

.mainTitleMobile {
    text-align: center;
    color: #243949;
    font-size: 18px;
    font-weight: 400;
    font-family: 'SeoulHangang';
}

.pointer {
    cursor: pointer;
}

.drivingSeats {
    color: #960909;
}

.irregularTransportationBorderTopLeft {
    position: absolute;
    width: 60px;
    height: 70px;
    border-top: 2px solid #085895;
    border-left: 2px solid #085895;
}

.irregularTransportationBorderBottomRight {
    position: absolute;
    width: 60px;
    height: 70px;
    border-bottom: 2px solid #085895;
    border-right: 2px solid #085895;
}

.irregularTransportationBorderTopLeftMobile {
    position: absolute;
    width: 20px;
    height: 30px;
    border-top: 2px solid #085895;
    border-left: 2px solid #085895;
}

.irregularTransportationBorderBottomRightMobile {
    position: absolute;
    width: 20px;
    height: 30px;
    border-bottom: 2px solid #085895;
    border-right: 2px solid #085895;
}

.formTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #085895;
    margin-top: 23px;
}

.formAddNewSpan {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #085895;
    margin-left: 5px;
    cursor: pointer;
}

.errorMessage {
    color: #ff5252;
    margin-left: 10px;
    font-size: 12px;
}